.box {
    box-shadow: 3px 2px 5px 1px #2e2e2e;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid #2e2e2e;
    border-radius: 10px;
    position: relative;
}

.animal {
    width: 150px;
    align-self: center;
    margin-top: 10%;
    z-index: 1;
}

.heart {
    position: absolute;
    bottom: 10%;
    right: 10%;
}